header { grid-area: title; }
 main { grid-area: posts; } 
 aside { grid-area: profilePic; } 
 article { grid-area: flowerPic;}
 footer { grid-area: footer; }
 
.container{
   display: grid;
   grid-template-areas:
   "title title"
   "profilePic posts "
   "flowerPic flowerPic"
   "footer footer";
}

  h1 {text-align: center;
    font-family: sans-serif; 
    font-size: 36px;
    padding-top: 1rem;
    padding-bottom: 5rem;
}


  /*nav {
      text-align: center; 
      color:#80ca9e;
      padding-bottom: 2rem;
}
.active{
    color: white;
    text-align: center;
}
  
h2 {
    text-align: left;  
    font-weight: bold;
    font-size: 20;
  }

  hr {
      border: 2px solid#797979; 
      width: 750px;   
  }
  */

  body{
      display:flex;
      /*width: 800px;*/
      background-color: lightgoldenrodyellow;
      color: black;
      /*border-left: 4px solid #777777;
      border-right: 4px solid #777777;
      border-top: 4px solid #777777;
      border-bottom: 4px solid #755f5f;*/
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
  }


  article{
    margin-left: 5rem;
    }

  p{
    font-size: 15px;
    padding-bottom: 1rem;
  }
 
  aside{
      margin-left: 100px;
      margin-right: 2px;
      margin-top: 70px;
      margin-bottom: 2px;
      /*border-style: double;*/
      padding: .2rem;
    
  }

h3 {
    text-align: center;  
  }

  article h5 {
     text-align: center;
     margin-bottom: 0;
     margin-top: 5rem;
 }


  .fContainer {
    display: inline-block;
    text-align: center;
    /*border: 1px solid gray;*/
    margin-left: 155px;
    padding: 3px;
  }
  

  footer {
      text-align: center;
      font-size: 10px;
      font-weight: bold;
      margin-top: 70px;
      padding: 2rem;
  }  


  @media (max-width: 570px);
  